<!DOCTYPE html>
<html>
<head>
    <title>Página de Inicio</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Bienvenido a la Aplicación de Predicción</h1>
        <p>Utiliza esta herramienta para analizar, visualizar datos y realizar predicciones relacionadas con la eficiencia del mecanizado.</p>
        
        <div class="button-group">
            <a href="/visualize" class="button">Visualizar Datos</a>
            <a href="/visualization/charts" class="button">Visualizar Gráficos</a>
            <a href="/upload" class="button">Subir Datos</a>
            <a href="/train" class="button">Entrenar Modelo</a>
            <a href="/predict" class="button">Hacer Predicciones</a>
        </div>
    </div>
</body>
</html>
